<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/admin/assets/styles/sidebar.css">
</head>
<body>
    <!-- Sidebar -->
<div class="sidebar">
    <a href="#" class="menu-item active">Admin Dashboard</a>
  
    <div class="menu-group">
      <div class="menu-header" onclick="toggleMenu('userMenu')">👤 Quản lý User</div>
      <div class="submenu" id="userMenu">
        <a href="/admin/pages/self_manage.html" class="menu-item">Quản Lý Thông Tin Cá Nhân</a>
        <a href="/admin/pages/khachhang_manage.html" class="menu-item">Quản Lý Khách Hàng</a>
        <a href="/admin/pages/nhanvien_manage.html" class="menu-item">Quản Lý Nhân Viên</a>
      </div>
    </div>
  
    <div class="menu-group">
      <div class="menu-header" onclick="toggleMenu('waterbusMenu')">🚤 Quản lý Waterbus</div>
      <div class="submenu" id="waterbusMenu">
        <a href="/admin/pages/ben_manage.html" class="menu-item">Quản Lý Bến Tàu</a>
        <a href="/admin/pages/boat_manage.html" class="menu-item">Quản Lý Tàu</a>
        <a href="/admin/pages/trip_manage.html" class="menu-item">Quản Lý Chuyến Tàu</a>
        <a href="/admin/pages/tuyen_manage.html" class="menu-item">Quản Lý Tuyến</a>
        <a href="/admin/pages/ticket_manage.html" class="menu-item">Quản Lý Vé</a>
        <a href="/admin/pages/thongke.html" class="menu-item">Thống Kê</a>
      </div>
    </div>
  
    <a href="/admin2/homepage/index.html" class="menu-item">Đăng xuất </a>
  </div>
  <script>
    function toggleMenu(id) {
      var menu = document.getElementById(id);
      menu.style.display = menu.style.display === "block" ? "none" : "block";
    }
  </script>
  
</body>
</html>