@font-face {
    font-family: 'Inter';
    src: url('https://fonts.googleapis.com/css?family=Inter');
  }

  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container-login {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 400px;
    max-width: 90%;
    text-align: center;
}

.logo img{
    width: 50%;
    height: auto;
}  

h1 {
    font-size: 30px;
    margin-bottom: 30px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-size: 14px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.forgot_remember {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
  }
  
.remember-me {
    display: flex;
    align-items: center;
    gap: 5px; /* khoảng cách giữa checkbox và label */
}

.remember-me label{
    margin-bottom: 0px;
}

.remember-me input{
    margin-bottom: 4px;
}
  
  
.forgot-password a {
    text-decoration: none;
    color: #007bff;
    font-size: 14px;
}
  

.signin-btn {
    background-color: #f6a52b;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 12px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.signin-btn:hover {
    background-color: #9f650d;
}