<div class="sidebar-body">
    <div class="logo">
        <img alt="logo system" src="/common/assets/images/logo_waterbuyt_fit.png" />
    </div>

    <ul class="menu">
        <li class="no-hover section-header">REVENUE MANAGEMENT</li>
        <li><a href="#">
                <i class="fa-solid fa-chart-simple"></i>
                Report
            </a></li>
        <li class="no-hover section-header">HUMAN MANAGEMENT</li>
        <li><a href="#">
                <i class="fa-solid fa-user-group"></i>
                Employee
            </a></li>
        <li><a href="#">
                <i class="fa-solid fa-hospital-user"></i>
                Patient
            </a></li>

        <li class="no-hover section-header">RESOURCE MANAGEMENT</li>
        <li><a href="#">
                <i class="fa-solid fa-pills"></i>
                Medicine
            </a></li>
        <li><a href="#">
                <i class="fa-solid fa-warehouse"></i>
                Warehouse
            </a></li>
        <li><a href="#">
                <i class="fa-solid fa-file-import"></i>
                Import Receipt
            </a></li>
        <li><a href="#">
                <i class="fa-solid fa-file-export"></i>
                Export Receipt
            </a></li>

        <li class="no-hover section-header">TREATMENT MANAGEMENT</li>
        <li><a href="#">
                <i class="fa-solid fa-file-waveform"></i>
                Prescription
            </a></li>

        <li class="no-hover section-header">INDIVIDUAL MANAGEMENT</li>
        <li><a href="#">
                <i class="fa-solid fa-circle-user"></i>
                Profile
            </a></li>
        <li><a href="#">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                Log out
            </a></li>

        
    </ul>
</div>