.layout-container {
    display: flex; /* Sử dụng flexbox để căn chỉnh sidebar và nội dung chính */
    height: 100vh; /* Chiều cao toàn màn hình */
}

.sidebar-iframe {
    width: 250px; /* Chiều rộng sidebar */
    height: 100%; /* Chiều cao toàn màn hình */
    border: none;
    overflow: hidden;
}

.main-content {
    flex: 1; /* Chiếm toàn bộ không gian còn lại */
    padding: 20px;
    box-sizing: border-box; /* Đảm bảo padding không làm tăng chiều rộng */
}
footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px 30px;
}
.footer-container {
    display: flex;
    align-items: center;
}
.footer-logo {
    width: 300px;
    margin-right: 20px;
}
.footer-info {
    list-style: none;
    padding: 20px 50px;
}
.footer-info li {
    font-size: 20px;
    margin-bottom: 10px;
}
.header {
    position: fixed; /* Cố định header ở trên cùng */
    top: 0;
    left: 0;
    width: 100%; /* Chiếm toàn bộ chiều rộng */
    display: flex; /* Sử dụng flexbox để căn chỉnh các phần tử */
    justify-content: space-between; /* Căn đều hai bên */
    align-items: center; /* Căn giữa theo chiều dọc */
    padding: 10px 20px; /* Khoảng cách bên trong */
    background-color: #307596; /* Màu nền trắng */
    border-bottom: 1px solid #ddd; /* Đường viền dưới */
    z-index: 1000; /* Đảm bảo header nằm trên các phần tử khác */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Hiệu ứng đổ bóng */
}

.logo {
    display: flex;
    align-items: center; /* Căn giữa logo theo chiều dọc */
}

.logo img {
    height: 40px; /* Chiều cao logo */
    margin-right: 10px; /* Khoảng cách giữa logo và text */
}
.header-title {
    font-size: 24px; /* Kích thước chữ tiêu đề */
    color: #fff; /* Màu chữ trắng */
    font-weight: bold; /* Chữ đậm */
    margin: 0; /* Không có khoảng cách bên ngoài */
    text-align: center; /* Căn giữa chữ theo chiều ngang */
    flex: 1; /* Chiếm toàn bộ không gian giữa logo và flag */
    display: flex; /* Sử dụng flexbox để căn chỉnh */
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
}