
.layout-container {
    display: flex;
    height: 100vh;
}
.sidebar-iframe {
    width: 250px;
    height: 100%;
    border: none;
    overflow: hidden;
}
.main-content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}
footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px 30px;
}
.footer-container {
    display: flex;
    align-items: center;
}
.footer-logo {
    width: 300px;
    margin-right: 20px;
}
.footer-info {
    list-style: none;
    padding: 20px 50px;
}
.footer-info li {
    font-size: 20px;
    margin-bottom: 10px;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #307596;
    border-bottom: 1px solid #ddd;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    height: 40px;
    margin-right: 10px;
}
.header-title {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    margin: 0;
    text-align: center;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
